.venv/
__pycache__/
*.pyc

.vscode/
.idea/

node_modules/
.expo/
.vite/
dist/
build/
*.tsbuildinfo

*.log
*.tmp
*.cache
run.exit.txt

react-app-native-expo/expo-*.log
react-app-native-expo_2/expo-*.log

react-app-native-expo/android/.gradle/
react-app-native-expo/android/app/build/
react-app-native-expo/android/build/
